# Copyright 2026 Mahdi Nouri
# SPDX-License-Identifier: Apache-2.0

CLOUDFLARE_ACCOUNT_ID=your_32_character_account_id
CLOUDFLARE_API_TOKEN=your_account_analytics_read_token
ASDF_ANALYTICS_DATASET=asdf_events
