.dark {
  --background: oklch(0.187 0.003 67.677);
  --foreground: oklch(0.985 0.001 105.52);
  --card: oklch(0.187 0.003 67.677);
  --card-foreground: oklch(0.985 0.001 105.52);
  --popover: oklch(0.187 0.003 67.677);
  --popover-foreground: oklch(0.985 0.001 105.52);
  --primary: oklch(0.869 0.004 56.484);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.268 0.006 34.352);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.228 0.004 48.61);
  --muted-foreground: oklch(0.586 0.002 105.968);
  --accent: oklch(0.716 0.009 56.302);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.711 0.166 22.222);
  --success: oklch(0.8 0.182 151.707);
  --warning: oklch(0.879 0.153 91.597);
  --info: oklch(0.714 0.143 254.621);
  --border: oklch(0.361 0.004 67.697);
  --input: oklch(0.361 0.004 67.697);
  --ring: oklch(0.869 0.004 56.484);
  --background-error: oklch(0.271 0.057 21.533);
  --background-warning: oklch(0.305 0.054 77.505);
  --background-success: oklch(0.271 0.052 152.887);
  --background-muted: oklch(0.228 0.004 48.61);
  --background-info: oklch(0.24 0.066 260.931);
  --chart-1: oklch(0.869 0.004 56.484);
  --chart-2: oklch(0.716 0.009 56.302);
  --chart-3: oklch(0.8 0.182 151.707);
  --chart-4: oklch(0.714 0.143 254.621);
  --chart-5: oklch(0.711 0.166 22.222);
  --sidebar: oklch(0.227 0.002 67.714);
  --sidebar-foreground: oklch(0.985 0.001 105.52);
  --sidebar-primary: oklch(0.869 0.004 56.484);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.228 0.004 48.61);
  --sidebar-accent-foreground: oklch(0.985 0.001 105.52);
  --sidebar-border: oklch(0.361 0.004 67.697);
  --sidebar-ring: oklch(0.869 0.004 56.484);
}