:root {
  --background: oklch(0.985 0.001 105.52);
  --foreground: oklch(0.216 0.006 56.06);
  --card: oklch(0.985 0.001 105.52);
  --card-foreground: oklch(0.216 0.006 56.06);
  --popover: oklch(0.985 0.001 105.52);
  --popover-foreground: oklch(0.216 0.006 56.06);
  --primary: oklch(0.374 0.009 67.561);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.923 0.003 49.03);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.97 0.001 105.537);
  --muted-foreground: oklch(0.6 0.003 84.476);
  --accent: oklch(0.553 0.012 58.091);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.577 0.215 27.326);
  --success: oklch(0.627 0.17 149.212);
  --warning: oklch(0.666 0.157 58.313);
  --info: oklch(0.546 0.215 262.88);
  --border: oklch(0.923 0.003 49.03);
  --input: oklch(0.923 0.003 49.03);
  --ring: oklch(0.374 0.009 67.561);
  --background-error: oklch(0.971 0.013 17.515);
  --background-warning: oklch(0.987 0.021 95.236);
  --background-success: oklch(0.982 0.018 155.712);
  --background-muted: oklch(0.97 0.001 105.537);
  --background-info: oklch(0.97 0.014 254.605);
  --chart-1: oklch(0.374 0.009 67.561);
  --chart-2: oklch(0.553 0.012 58.091);
  --chart-3: oklch(0.627 0.17 149.212);
  --chart-4: oklch(0.546 0.215 262.88);
  --chart-5: oklch(0.577 0.215 27.326);
  --sidebar: oklch(0.955 0.001 105.554);
  --sidebar-foreground: oklch(0.216 0.006 56.06);
  --sidebar-primary: oklch(0.374 0.009 67.561);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.97 0.001 105.537);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.06);
  --sidebar-border: oklch(0.923 0.003 49.03);
  --sidebar-ring: oklch(0.374 0.009 67.561);
}